{% extends 'ctpBase/base.html' %}
{% block content %}    
<style>
   body {
    background: url(/static/fon.jpg); 
    background-attachment: fixed;

   }
  </style>
{% for det in detals %}
        <div>


<a href="{%url 'detal_detail' pk=det.pk %}"><h3>Каталожный номер детали: {{ det.catalog_number }}</h3></a>
<h3>Альтернативный номер детали: {{ det.alternativ_number }}</h3>
<h4>Описание: {{ det.opisanie }}</h4>

{% if det.published_date %}
                <div class="date">
                   Дата создания детали в БД:
 {{ det.published_date }}
                </div>
            {% endif %}
<p>Автор записи: {{det.author}}</p>

<!--
		<p>{{ det.opisanie }}</a></p>
            <p>published: {{ det.published_date }}</p>
            
            <p>alt number {{ det.alternativ_number }}</p>
		<p>kol-vo zaprosov {{ det.kolvo_zaprosov }}</p> -->
<p>-------------------------------------------------------------------------------------------------------------------------------------------</p>
        </div>
    {% endfor %}



<div class="table-responsive"> 
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Каталожный номер</th>
			<th>Альтернативный номер</th>
			<th>Применимости</th>
			<th>Дата добавления в БД</th>
			<th>Занес в БД</th>
			<th>Количество запросов</th>
			
		</tr>
	</thead>
		<tbody>
			{% for det in detals %}
				<tr>
					<td><a href="{%url 'detal_detail' pk=det.pk %}">{{ det.catalog_number }}</a></td>
					<td>{{ det.alternativ_number }}</td>
					<td>{{ det.opisanie }}</td>
					<td>{{ det.published_date }}</td>
					<td>{{det.author}}</td>
					<td>{{ det.kolvo_zaprosov }}</td>
				
				</tr>

			{% endfor %}
		</tbody>



</table>
</div> 






{% endblock content %}
